.bookings {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.bookingsTitle {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #343a40;
  margin-bottom: 40px;
}

.bookingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.booking {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.booking:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.bookingTitle {
  font-size: 24px;
  font-weight: 700;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 10px;
}

.bookingDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bookingDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookingDetail label {
  font-size: 16px;
  font-weight: 600;
  color: #495057;
}

.bookingDetail span {
  font-size: 16px;
  font-weight: 500;
  color: #343a40;
}

.bookingDetail span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.homeButton{
  display: block;
  margin-top: 30px !important;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .bookingsContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .bookings {
    padding: 20px;
  }

  .bookingsTitle {
    font-size: 28px;
  }

  .bookingTitle {
    font-size: 20px;
  }

  .bookingDetails {
    gap: 10px;
  }

  .bookingDetail label,
  .bookingDetail span {
    font-size: 14px;
  }
}
