.homeContainer{

}

.homeTitle{
  width: 1024px;
  font-size: 25px;
  font-weight: bold;
}


.iaChat{
  position: fixed; /* Fixe le chat à une position spécifique sur la page */
  bottom: 11rem; /* Distance du bas de la page */
  right: 20px;
  z-index: 1000;
}

.iaBot{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
