.homeContainer{

}

.homeTitle{
  width: 1024px;
  font-size: 25px;
  font-weight: bold;
}


.iaChat{
  position: fixed;
  bottom: 11rem;
  right: 20px;
  z-index: 1000;
}

.iaBot{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
