/* Global styles for login container */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.loginContainer {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  text-align: center;
}

/* Top section of login form */
.loginTop {
  margin-bottom: 30px;
}

.loginIcon {
  font-size: 4rem !important;
  color: #007bff;
}

.loginTitle {
  font-size: 1.8rem;
  font-weight: 200;
  margin: 15px 0 5px;
}

.loginSubTitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Form elements */
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginInput {
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.loginInputPassword {
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 100%;
  height: 50px;
}

.loginInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.passwordField {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.passwordField input {
  width: 100%;
  padding: 12px 40px 12px 10px; /* Espace pour l'icône à droite */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #f8f8f8;
}

.passwordField input:focus {
  border-color: #007bff;
}

.passwordField .MuiInputAdornment-root {
  position: absolute;
  right: 10px;
}

.passwordField .MuiSvgIcon-root {
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

.passwordField .MuiSvgIcon-root:hover {
  color: #007bff;
}

/* Buttons */
.loginButton {
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.loginButton {
  background-color: #007bff;
  color: white;
  margin-top: 10px;
}

.loginButton:disabled {
  background-color: #b0d4ff;
}

.loginRegisterButton {
  display: flex;
  color: #007bff;
  margin-top: 50px;
}

.loginRegisterButton:hover {
  background-color: #007bff;
  color: white;
}

.loginButton:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

/* Error message */
.loginError {
  color: red;
  margin-top: 10px;
  font-size: 1rem;
}
