.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .left {
        position: relative;
        padding: 20px;
        box-shadow: 4px 13px 19px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
          transform: translateY(-5px);
        }

        .title {
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 20px;
          color: rgba(142, 141, 141, 0.614);
        }

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px 20px;
          background-color: #f70476;
          color: white;
          border-radius: 5px;
          margin-top: 10px;
          margin-right: 10px;
          letter-spacing: 2px;
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: 0.875rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #d6006f;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 20px;

          .itemImg {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
        }

        .details {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .itemTitle {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 20px;
          }

          .detailItem {
            display: flex;
            gap: 10px;
            align-items: center;

            .detailKey {
              font-size: 1rem;
              font-weight: 300;
              color: gray;
            }

            .detailValue {
              font-size: 1rem;
              font-weight: 300;
            }
          }
        }
      }
    }

    .bottom {
      padding: 50px;
      display: flex;
      gap: 20px;
      flex-direction: column;

      .bottomBookings {
        padding: 20px;
        box-shadow: 4px 13px 19px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
          transform: translateY(-5px);
        }

        .title {
          font-size: 1.5rem;
          font-weight: 300;
          margin-bottom: 20px;
          color: rgba(142, 141, 141, 0.614);
        }

        .bottomBookingsContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .bookingsContainer {
            .hotelBookings,
            .flightBookings {
              padding: 20px;
              border-radius: 8px;
              background-color: #fafafa;
              margin-bottom: 20px;
              transition: box-shadow 0.3s ease, transform 0.3s ease;

              &:hover {
                box-shadow: 0 4px 15px rgba(0, 0, 2, 0.359);
                transform: translateY(-3px);
              }

              h2 {
                font-size: 1.25rem;
                font-weight: 400;
                margin-bottom: 10px;
                color: #828181;
              }

              .booking {
                padding: 20px;
                border-radius: 8px;
                background-color: #ffffff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                height: 8rem;
                position: relative;
                transition: box-shadow 0.3s ease, transform 0.3s ease;

                &:hover {
                  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.55);
                  transform: translateY(-3px);
                }

                .bookingTitle {
                  font-size: 1.125rem;
                  font-weight: 500;
                  margin-bottom: 10px;
                  color: #333;
                }

                .bookingDetails {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 15px;

                  .bookingDetail {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    label {
                      font-size: 0.875rem;
                      color: gray;
                    }

                    span {
                      font-size: 1rem;
                      font-weight: 300;
                      color: #333;
                    }

                    .cancelButton {
                      background-color: #ff4d4d;
                      color: white;
                      border: none;
                      padding: 10px 20px;
                      border-radius: 5px;
                      cursor: pointer;
                      font-size: 0.875rem;
                      transition: background-color 0.3s ease;
                      display: flex;
                      align-items: center;
                      position: absolute;
                      bottom: 20px;
                      right: 20px;
                    }

                    .cancelButton:hover {
                      background-color: #cc0000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
