.friend-group-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.friend-management, .group-management {
  flex: 1;
  padding: 20px;
  background-color: #1b1b2f;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  height: 50vh;
  overflow: scroll;
}

.friend-management h2, .group-management h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00adb5;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #393e46;
  background-color: #222831;
  border-radius: 8px;
  color: #f2f2f2;
}

.input-field:focus {
  outline: none;
  border-color: #00adb5;
}

.btn-add, .btn-create {
  background-color: #00adb5;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-add:hover, .btn-create:hover {
  background-color: #00979d;
}

.friend-list, .group-list {
  margin-top: 20px;
}

.friend-list h3, .group-list h3 {
  margin-bottom: 15px;
  text-align: center;
  color: #eeeeee;
}

ul {
  list-style-type: none;
  padding: 0;
}

.friend-item, .group-item {
  padding: 12px;
  border-bottom: 1px solid #393e46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.friend-item:hover, .group-item:hover {
  background-color: #293c4b;
}

.friend-avatar, .group-member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info {
  display: flex;
  align-items: center;
}

.btn-delete {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-delete:hover {
  background-color: #ff3838;
}

.foundUserTitle {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.foundUserTitleClose {
  background-color: #932b37; /* Rouge vif pour le bouton de fermeture */
  border: none;
  padding: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.foundUserTitleClose:hover {
  background-color: #ff3838;
}
.foundUser {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b2f; /* Couleur de fond plus sombre */
  width: 80%;
}

.foundUserDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.findUser {
  padding: 20px;
  background-color: #2b2d42; /* Un bleu foncé pour le fond */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Légère ombre pour donner de la profondeur */
  position: relative;
  margin: 20px 0; /* Un peu d'espace autour */
}
.friendImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #8d99ae; /* Une bordure subtile */
}

.foundUserBtn {
  background-color: #06d6a0; /* Vert vif pour le bouton Ajouter */
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.foundUserBtn:hover {
  background-color: #05c482; /* Couleur plus foncée au survol */
}
.group-name {
  font-weight: bold;
  color: #00adb5;
  margin-bottom: 10px;
}

.group-members {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.group-member-item {
  display: flex;
  align-items: center;
}

.deleteMemberIcon {
  display: none; /* Cache l'icône par défaut */
}

.group-member-item:hover .deleteMemberIcon {
  display: block; /* Affiche l'icône lors du survol de l'élément */
}

.delete-icon {
  display: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 8px;
}
.delete-icon:hover {
  color: #ff5c5c;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  background: linear-gradient(rgb(20, 18, 40), rgba(37, 17, 40, 0.939)),
    url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(19px) saturate(180%);
  -webkit-backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.598);
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 30px;
  width: 90%;
  height: 90vh;
  overflow: hidden;
}

.group-member-item {
  position: relative;
  display: flex;
  align-items: center;
}

.member-info {
  display: flex;
  align-items: center;
}

.delete-icon {
  display: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.group-member-item:hover .delete-icon {
  display: inline;
}
