.taxiSearchList {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.taxiSearchList:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.taxiSearchListTop {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.taxiSearchListTop label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.supplier {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.supplier label {
  margin-right: 10px;

}

.supplier img {
  width: 90px;
  height: 60px;

  margin-right: 10px;

}

.supplier span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #26262b;
}

.taxiSearchListTopLeft,
.taxiSearchListTopRight {
  flex: 1;
  font-size: 1rem;
  color: #555;
  text-align: center;
  font-weight: 500;
}

.taxiSearchListTopMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.taxiSearchListTopMiddle .journeyIcon {
  font-size: 24px;
  color: #007bff;
}

.taxiSearchListBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taxiSearchListBottom div {
  text-align: center;
}

.taxiSearchListBottom label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  display: block;
  font-size: 1.1rem;
}

.taxiSearchListBottom span {
  font-size: 1.1rem;
  color: #333;
}

.price span {
  font-weight: bold;
  color: #007bff;
  font-size: 1.2rem;
}

.taxiBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.taxiBookButton, .taxiCartButton {
  background-color: #3498db; /* Couleur de fond pour les boutons */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Taille du bouton */
  font-size: 16px; /* Taille du texte */
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur */
}

.taxiBookButton:hover, .taxiCartButton:hover {
  background-color: #2980b9; /* Couleur de fond au survol */
}

.taxiBookButton {
  background-color: #e74c3c; /* Couleur spécifique pour le bouton "Book Now" */
}

.taxiBookButton:hover {
  background-color: #c0392b; /* Couleur au survol pour "Book Now" */
}

.taxiCartButton {
  background-color: #2ecc71; /* Couleur spécifique pour le bouton "Add to Cart" */
}

.taxiCartButton:hover {
  background-color: #27ae60; /* Couleur au survol pour "Add to Cart" */
}
