.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hotelName{
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.hotelLocation{
  font-size: 1rem;
  color: #666;
  gap: 10px;
  display: flex;
  align-items: center;
}

.hotelDist{
  font-size: 1rem;
  color: #666;
}

.hotelHighlight{
  font-size: 1rem;
  color: #0fa728;
  gap: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.hotelWrapper{
  position: relative;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookButton{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #0f35a7;
  color: white;
  cursor: pointer;
}

.hotelImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.hotelImagesWrapper{
  width: 33%;
}

.hotelImage{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
}

.hotelDetails{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
.hotelDesc{
  flex: 3;
}
.hotelDescTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.hotelDescInfo{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.hotelDescPrice{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px !important;
}
.hotelDescPriceWrapper{
  flex: 1;
  background-color: #b1cbed60;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.hotelDescPriceWrapper>h1{
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.hotelDescPriceAmount{
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
}

.hotelDescPriceWrapper>button{
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #0f35a7;
  color: white;
  cursor: pointer;
}

.photoSlider{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: -50px;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #000000a1;
  position: sticky;
  align-items: center;
  z-index: 999;
}

.photoSliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoSliderImage{
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.closeIcon{
  position: absolute;
  top: 30px;
  right: 60px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.leftIcon{
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.rightIcon{
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.roomsDescTitle{
  display: flex;
  gap: 10px;
  margin-top: 20px;

  font-weight: 500;
}

.roomsDesc{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 12px;

}

.hotelDescTitle{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.hotelDescInfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  text-align: justify;
  padding-right: 15px;
}

.hotelDescList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
  color: #4f4d4d;
}

.hotelFacility{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}
