
.navbar {
  height: 50px;
  /* background: linear-gradient(to right, #15c5bc, #872687ae, #129f98d1); */
  background-color: #000000;
  display: flex;
  justify-content: center;
  width: auto;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  font-size: 30px;
}

.navButton {
  margin-left: 30px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background-color: white;
}
