/* Styles pour la navigation */
.navbar {
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  width: auto;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  font-family: "Permanent Marker", cursive;
}

.navTitle:hover {
  background: -webkit-linear-gradient(#ff00a6, hsl(223, 100%, 50%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navButton {
  margin-left: 15px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  color: #003580;
  background-color: white;
  border-radius: 4px;
}

.navButton:hover {
  color: white;
  background-color: #003580;
}

.navName {
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  display: inline-block;
}

.navName:hover {
  color: #2a88fc;
}

.navName::after {
  content: "Click to view profile";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 12px;
  z-index: 1;
}

.navName:hover::after {
  opacity: 1;
  visibility: visible;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.navItems {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .navItems {
    display: none; /* Masquer les éléments de navigation par défaut */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #000;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    z-index: 2; /* S'assurer que le menu est au-dessus des autres éléments */
  }

  .navItems.active {
    display: flex; /* Afficher le menu lorsque le hamburger est actif */
    z-index: 999;
  }

  .navItems .navButton {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    z-index: 999;
  }

  .hamburger {
    display: flex; /* Afficher le bouton hamburger */
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 50px;
    padding: 0 10px;
  }

  .navTitle {
    font-size: 24px;
  }

  .navItems.active {
    top: 50px;
    right: 10px;
    width: 150px;
  }

  .hamburger div {
    width: 20px;
    height: 2px;
  }

  .navButton {
    padding: 6px 10px;
    font-size: 14px;
    z-index: 999;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }
}
