.taxiContainer{
  margin: 20px;
}

.taxiContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.listWrapperTaxi {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
}

.listSearchTaxi {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listSearchTitleTaxi {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.listSearchItemTaxi {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.listSearchItemTaxi label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.listSearchItemTaxi input,
.listSearchItemTaxi select,
.listSearchItemTaxi .datePicker {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.listSearchItemTaxi input:focus,
.listSearchItemTaxi select:focus,
.listSearchItemTaxi .datePicker:focus {
  border-color: #007bff;
}

.destinationSearchButtonTaxi {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #febb02;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.destinationSearchButtonTaxi:hover {
  background-color: #826518;
}

.selectedDepartureTaxi {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.listSearchButtonTaxi{
  margin-top: 20px;
  background-color: #007bff; /* Couleur normale */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease !important;
}

.listSearchButtonTaxi:hover {
  background-color: #003580; /* Couleur au survol */
}

.listSearchButtonTaxi:disabled {
  background-color: #cccccc; /* Couleur grisée pour le bouton désactivé */
  cursor: not-allowed; /* Curseur pour le bouton désactivé */
}

.listResultsflight {
  margin-left: 30px;
}
